* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #848487;

}

.Links {
    display: flex;
    align-self: center;
}

.firstLink > a{
    padding: 0 5px;
    color: black;
    text-decoration: none;
}

.firstLink > a:hover {
    padding: 0 5px;
    color: blue;
    text-decoration: none;
}

.Logo {
    padding-top: .2em;
    padding-bottom: .2em;
    width: 3em;
    align-self: center;
    font-family: 'Montserrat', sans-serif;
}

.rightLogos {
    display: flex;
    justify-content: space-between;
}
